.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  //   border-bottom: 2px solid @silver;

  .section-text {
    width: 45%;
    h1 {
      line-height: 5rem;
      font-size: 3.5rem;
    }
    p {
      line-height: 2.5rem;
    }
  }

  .section-img {
    width: 500px;
  }
  img {
    width: 100%;
    border-radius: 2rem;
  }
}

.middle-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  //   border-bottom: 2px solid @silver;

  .section-text {
    width: 45%;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      line-height: 2.5rem;
    }
  }

  .section-img {
    width: 500px;
  }
  img {
    width: 100%;
    border-radius: 2rem;
    border: solid 1px @black;
  }
}

.section-meet-team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  //   border-bottom: 2px solid @silver;

  .left-title {
    line-height: 2.5rem;
    h2 {
      margin-bottom: 1rem;
    }
    a {
      text-decoration: none;
    }
  }

  .section-text {
    width: 45%;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      line-height: 2.5rem;
    }
  }
}

.product-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 4rem;
  p {
    margin: 2rem;
    font-family: "Courgette", cursive;
    font-size: 2.5rem;
    color: @black;
  }
  a {
    margin: 2rem;
    text-decoration: none;
    color: @black;
  }
}
