//!move this to new page
.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media @desktop {
    margin: 0 10rem;
  }
  @media @mobile {
    margin: 0 20px;
  }
}

.team-section-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50vh;
  //   border-bottom: 2px solid @silver;

  p {
    width: 45%;
    line-height: 2.5rem;
  }
  @media @desktop {
    display: flex;
    flex-direction: column;

    p {
      min-width: 600px;
      min-height: 175px;
      margin: 30px;
    }
  }

  @media @mobile {
    p {
      min-width: 0;
      margin: 0;
      width: 100%;
    }
  }
}
.team-section-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    margin: 3rem;
    margin-bottom: 4rem;
    padding: 3rem 4rem;
    border: 1px solid @black;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    img {
      border-radius: 50%;
      width: 10rem;
    }

    p {
      padding-left: 3rem;
    }

    @media @mobile {
      //!continue here with formatting cards
      flex-direction: column;

      h3 {
        padding-top: 2rem;
      }

      p {
        padding-left: 0;
        padding-top: 2rem;
      }
    }
  }
}
