// Color assignments
@font-color: @black;

// Colors
@white: #ffffff;
@black: #212529;
@silver: #c0c0c0;

//design response breakpoints
@mobile: ~"(max-width: 500px)";
@desktop: ~"(max-width: 800px)";
